/* font name */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  *{
    margin: 0;
    padding: 0;
  }
  /* share style */
  .primary-bg{
    background-color: #F1F1F3;
  }
  .secondary-bg{
    background-color: #C6E4D6;
  }
  .text-center{
    text-align: center;
    .text-start{
        text-align: start;
    }
  }
  .btn-primary{
    background-color: #006A50;
    border: none;
    padding: 17px 34px;
    color: #ffffff;
    border-radius: 24px;
  }
  .btn-primary:hover{
    background-color: #FFC239;
    color: #006A50;
}
  .btn-Secondary{
    background-color: #ffffff;
    padding: 15px 30px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
  }
  .btn-Secondary:hover{
    background-color: #FFC239;
    color: #006A50;
}
  .section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
  }
  .section-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0E;
  }
  .card-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    padding-bottom: 12px;
  }
  .card-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0E;
  }
  .card-img{
    height: 64px;
    width: 64px;
    padding-bottom: 24px;
  }
  /* nav style */
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px;
    height: 100px;
    max-width: 1280px;
    margin: 0 auto;
    gap: auto;
  }
  nav ul li{
    list-style: none;
  }
  .nav-title{
    font-size: 32px;
    font-weight: bold;
  }
   /* main style */
   main{
    max-width: 1280px;
    margin: 0 auto;
    
  }
  /* banner section style */
  .banner{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    border-radius: 24px;
    height: 560px;
    gap: 64px;
    margin-bottom: 80px;
  }
  .banner-content{
    /* gap: 24px; */
    width: 64%;
  }
  .banner-subtitle{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .banner-title{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .banner-img{
    width: 46%;
  }
  /* pillars of BD section styles */
  .pillars-of-bd{
    gap: 32px;
    margin-bottom: 80px;
  }
  .pillars-of-bd-cards{
    display: flex;
    align-items: center;
    gap: 24px;
    text-align: start;
    padding-top: 32px;
    justify-content: space-between;
  }
  .pillars-bd-card{
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 16px;
    padding: 24px;
    height: 244px;
    width: 302px;
  }
  /* vision of future section style */
  .vision-of-future{
    margin-bottom: 32px;
  }
  .vision-of-future-cards{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-around;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .vision-of-future-card1{
    padding: 32px;
    gap: 24px;
    background-color: #548ff528;
    border-radius: 16px;
    width: 410px;
    height: 325;
  }
  .card1-btn{
    background-color: #5490F5;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}
.card1-btn:hover{
    background-color: #ffffff;
    color: #006A50;
}
.vision-of-future-card2{
    padding: 32px;
    gap: 24px;
    background-color: #09a15d23;
    border-radius: 16px;
    width: 410px;
    height: 325;
  }
  .card2-btn{
    background-color: #09A15C;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 48px;
}
.card2-btn:hover{
    background-color: #ffffff;
    color: #006A50;
}
.vision-of-future-card3{
    padding: 32px;
    gap: 24px;
    background-color: #ffc43925;
    border-radius: 16px;
    width: 410px;
    height: 325;
  }
  .card3-btn{
    background-color: #FFC239;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}
.card3-btn:hover{
    background-color: #ffffff;
    color: #006A50;
}
/* Quote section styles */

.quote{
    background-color: #ffffff;
    text-align: start;
    padding: 24px 48px;
    margin-bottom: 80px;
    border: 1px solid #0e0e0e2a;
    border-radius: 16px;
    gap: 12px;
}
.quote-container{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    height: 169px;
}
.quote-name{
    font-siz{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: #0E0E0E;
    }
}
.quote-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0E;
    margin-bottom: 12px;
}
.quote-description2{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0E;
    margin-top: 12px;
}
/* Recent news section styles */
.recent-news{
    margin-bottom: 80px;
}
.news1{
    background-color: #ffffff;
    border: none;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 48px;
    gap: 32px;
    margin-top: 32px;
}
.news-img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}
.news-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}
.company-img{
    width: 134px;
    height: 40px;
    margin-bottom: 12px;
}
.news-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0E;
    margin-top: 12px;
}
.news-date-time{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0E;
    margin-top: 12px;
}
.news-btn{
    background-color: #006A50;
    border: none;
    padding: 13px 26px;
    color: #ffffff;
    border-radius: 8px;
    margin-top: 32px;
}
.news-btn:hover{
    background-color: #FFC239;
    color: #006A50;
}
/* Donate section styles */
.donate{
    margin-bottom: 80px;
}
.donate-today{
  padding: 0px 105px;
}
.donate-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    
}
.donate-card{
    background-color: #ffffff;
    padding: 40px 40px;
    border-radius: 16px;
    border: 1px solid #0e0e0e27;
}
.donate-card:hover{
    background-color: #5490F5;
}
.donate-card2{
    background-color: #C6E4D6;
    padding: 40px 40px;
    border-radius: 16px;
    border: 1px solid #0e0e0e27;
    /* width: 240px;
    height: 128px; */
}
.donate-card2:hover{
    background-color: #FFC239;
}
/* Donate form style */
.donate-form{
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 100%; */
}
.donate-form{
  display: flex;
  flex-direction: column;
  
 }
.btn-form{
    background-color: #006A50;
    border: none;
    padding: 13px 26px;
    color: #ffffff;
    border-radius: 8px;
    margin: 32px 0px 0px 0px;
}
.btn-form:hover{
    background-color: #FFC239;
    color: #006A50;
}
.donate-form input[type="text"]{
    width: 100%;
    padding: 20px 40px;
    text-align: center;
    border: none;
    margin: 0px;
}
/* Newslwtter section styles */
.newslatter{
    margin-bottom: 80px;
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 24px;
    text-align: center;
}
.newsletter-container{
    padding: 0px 240px;
}
form{
  gap: 0;
}
.newsletter-form form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin: 0px;
    padding: 0px;
}
.newsletter-form form input[type="text"]{
    padding: 18px 40px;
    text-align: start;
    border: none;
    margin: 24px 0px;
    border: none;
    border-radius: 10px 0 0 10px;
    width: 75%;
}
.newsletter-btn{
    background-color: #006A50;
    border: none;
    padding: 17px 34px;
    color: #ffffff;
    margin:24px 0px;
    border-radius: 0px 10px 10px 0;
    width: 25%;

}
/* Footer section style */
.footer{
    padding: 50px 160px;
}
.footer title{
    font-size: 32px;
    font-weight: bold;
}
.social-link{
    gap: 23px;
    margin: 24px 0px;
}
footer a{
    padding: 0px 10px;
}
footer{
    background-color: #ffffff;
}